body {
    padding: 15px;
    background-color: #d6e9f7;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

button {
    background-color: white;
}
.hiddenButton {
    display: none;
}

h1 {
    font-size: 1.5rem;
}

h1, h2 {
    font-weight: bold;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

header, .formbase, .cvOutput {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    padding: 15px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;

}

.titlesDiv {
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.instructionsDiv {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 5px;
}

main {
    width: 100%;
    display: flex;
    gap: 15px;
}

main > * {
    flex-grow: 1;
}

.formbase {
    height: auto;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formbase > * {
    padding: 5px;
    gap: 5px;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.personalHeader, .personalFormDiv {
    background-color: rgb(249, 197, 197);
}
.experienceHeader, .experienceFormDiv  {
    background-color: rgb(246, 246, 202);
}
.educationHeader, .educationFormDiv  {
    background-color: rgb(210, 210, 231);
}

form {
    display: none;
    flex-direction: column;
    padding: 2px;
    gap: 5px;
}

#personalForm {
    background-color: rgb(250, 221, 221);
}
#experienceForm {
    background-color: rgb(253, 253, 229);
}
#educationForm {
    background-color: rgb(238, 238, 244);
}

@keyframes slide {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }

.visible {
    display: flex;
    transform-origin: top;
    animation: slide .25s linear 0s alternate;
}

label {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.datesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

textarea {
    resize: none;
    height: 50px;
}

.formButton {
    width: 50%;
    align-self: self-end;
}

.cvOutput {
    max-width: 700px;
    min-height: 70vh;
}

.cvSection {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 5px;
}

.cvEntry {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.personalOutput {
    align-items: center;
    
}

.entrySubtitle {
    display: flex;
    justify-content: space-between;
    font-style: italic;
}